@import "style.css";
/* UserSelection */
main{
    padding-top: 100px;
}
header ul{
    margin-bottom: 0 !important;
}
.background-contact{
    position: relative;
    background-image: url('../assets/img/Contact.jpg');
    background-size: cover;
    max-width: 1300px; 
    height: 720px;
    transition: 0.25s all ease-out;
}
.contact-box-One{
    position: absolute;
    top:20px;
    left:20px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px;
    border-radius: 7px;
    transition: 0.2s all ease-out;
}
.contact-box-One:hover{
    background-image: url('../assets/svg/Fade-In-Background.svg');
    background-position: left;
    background-size: cover;
    transform: scale(1.02);
}

.contact-box-Two{
    position: absolute;
    top:200px;
    right:80px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px;
    border-radius: 7px;
    transition: 0.2s all ease-out;

}
.contact-box-Two:hover{
    background-image: url('../assets/svg/Fade-In-Background.svg');
    background-position: right;
    background-size: cover;
    transform: scale(1.1);
}

.contact-box-Three{
    position: absolute;
    bottom:20px;
    right:20px;
    background-color: black;
    color: white;
    padding: 10px 20px 10px;
    border-radius: 7px;
    transition: 0.2s all ease-out;
}
.contact-box-Three:hover{
    background-image: url('../assets/svg/Fade-In-Background.svg');
    background-position: center;
    background-size: cover;
    transform: scale(1.05);
}

@media (max-width: 468px){
    .contact-box-Two{
        top:200px;
        left:20px;
    }
    .contact-box-Three{
        top:400px;
        left:20px;
        height: 150px;
    }
}