@import "style.css";
  /* Form */
form>h1{
    padding-bottom: 20px;
}


#Container{
    background-size: cover;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: whitesmoke;
}

legend{
    text-align: center;
}

input{
    background-color: black;
    border: solid whitesmoke;
    color: whitesmoke;
    text-align: center;
}
#Container{
    padding: 50px 0 100px;
}


#Container fieldset{
    padding: 10px;
    border-color: green;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#field1 table{
    display: flex;
    justify-content: center;
    text-align: left;
}

textarea{
    background-color: black;
    color: whitesmoke;
    border: solid whitesmoke;
}

button{
    background-color: green;
    color: whitesmoke;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 5px 10px 5px;
}

textarea {
    resize: none;
 }
/* End Form */

@media (max-width: 468px){

}