@import "style.css";
/* background-logo */
main{
    padding-top: 100px;
}
.background-Box{
    position: relative;
    max-width: 1100px; 
    height: 620px;
}
.backgroundOne-logo{
    background-image: url('../assets/img/Home.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
}
.backgroundOne-textOne {
    color: #ADEFD1FF;
    text-shadow: 1px 1px 3px white;
    background-color: black;
    mix-blend-mode:screen;
    width: 100%; 
    height: 15%;
    font-weight: bolder;
    display: flex;
    align-items:flex-end;
    padding-left: 60px;
    font-size: 18px;
}
.backgroundOne-textTwo {
    color: #ADEFD1FF;
    text-shadow: 1px 1px 3px white;
    background-color: black;
    mix-blend-mode:screen;
    width: 100%; 
    height: 85%;
    font-weight: bolder;
    line-height: 120px;
    padding-left: 100px;
    font-size: 15px;
}
.background-button-Box{
    position: absolute;
    bottom: 180px;
    left: 80px;
    z-index: 1;
    cursor: pointer;
    user-select:none;
    text-decoration: none;
}
.background-button{
    background-color: rgb(29, 29, 29);
    color: whitesmoke;
    padding: 10px 20px 10px;
    font-size: 20px;
    border-radius: 25px;
    transition: all 0.1s ease-out;
}
.background-button:hover{
    background-color: rgb(8, 8, 8);
    transform: scale(1.05);
}
.background-button:active::before,
.background-button:focus::before{
    content: '';
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -3px;
    left: -3px;
    border-radius: 25px;
    border: 1px solid white;
}

.background-button:active{
    background-color: black;
    transform: scale(1);
}
.backgroundTwo-logo{
    background-image: url('../assets/img/HomeTwo.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
    display: none;
}
.backgroundTwo-textOne {
    color: #FCF6F5FF;
    text-shadow: 1px 1px 3px #89ABE3FF;
    background-color: black;
    mix-blend-mode:screen;
    width: 100%; 
    height: 35%;
    font-weight: bolder;
    display: flex;
    align-items:flex-end;
    padding-left: 330px;
    font-size: 23px;
}
.backgroundTwo-textTwo {
    color: #FCF6F5FF;
    text-shadow: 1px 1px 3px #89ABE3FF;
    background-color: black;
    mix-blend-mode:screen;
    width: 100%; 
    height: 65%;
    font-weight: bolder;
    line-height: 90px;
    padding-left: 380px;
    font-size: 20px;
}
.backgroundThree-logo{
    background-image: url('../assets/img/HomeThree.jpg');
    background-position: center;
    background-repeat: no-repeat; 
    background-color: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
    display: none;
}
.backgroundThree-textOne {
    color: #FAEBEFFF;
    text-shadow: 4px 4px 10px #333D79FF;
    background-color: black;
    mix-blend-mode:screen;
    width: 100%; 
    height: 35%;
    font-weight: bolder;
    display: flex;
    align-items:flex-end;
    padding-left: 600px;
    font-size: 23px;
}
.backgroundThree-textTwo {
    color: #FAEBEFFF;
    text-shadow: 4px 4px 10px #333D79FF;
    background-color: black;
    mix-blend-mode:screen;
    width: 100%; 
    height: 65%;
    font-weight: bolder;
    line-height: 80px;
    padding-left: 850px;
    font-size: 20px;
}
.overlay {
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    mix-blend-mode:multiply;
}

/* list */
.background-list-albums{
    max-width:1100px;
    color:#191919;
    background-color: #EFEFEF;
}

.background-list-albums>h3{
    font-size: 30px;
    text-align: center;
    padding: 20px 0 50px;
}

.background-list-Box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.background-listOne{
    background-image: url('../assets/img/Home/PlayAnySong.jpg');
    background-size: cover;
    display:block;
    margin:0 auto 40px;
    width:120px;
    height:120px;
}
.background-listTwo{
    background-image: url('../assets/img/Home/DownloadMusic.jpg');
    background-size: cover;
    display:block;
    margin:0 auto 40px;
    width:120px;
    height:120px;
}
.background-listThree{
    background-image: url('../assets/img/Home/AlbumMember.jpg');
    background-size: cover;
    display:block;
    margin:0 auto 40px;
    width:120px;
    height:120px;
}

.background-list-AllItem{
    display: block;
    text-align: center;
}

.background-listTitle{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 21px;
    padding: 0px
}
.background-listDescription{
    font-size: 16px;
    padding: 0px;
}

li{
    list-style-type: none;
}

@media (max-width: 468px){
    
    /* Main */
    .backgroundOne-logo,
    .backgroundTwo-logo,
    .backgroundThree-logo{
        background-size: cover;
        background-position: center;
    }
    
    .backgroundOne-textOne,
    .backgroundTwo-textOne,
    .backgroundThree-textOne
    {
        height:50%;
        align-items: initial;
        line-height: 550px;
        padding-left: 30px;
    }
    .backgroundOne-textTwo,
    .backgroundTwo-textTwo,
    .backgroundThree-textTwo{
        height:50%;
        line-height: 20px;
        padding-left: 50px;
    }
    .background-button-Box{
        transform: translate(-50%, -35%);
        left: 50%;
        bottom: 35%;
        
    }
    .background-button{
        font-size: 15px;
    }
    /* Box listing */
    .background-list-Box{
        display: initial;
    }
    .background-list-Box>li{
        padding-bottom: 30px;
    }
}